{% comment %}
  Product Card Snippet
{% endcomment %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<style>
  .product-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.8rem;
    padding-bottom:1.3rem;
    width:100%;
    justify-content: left;
    text-align:left;
    text-decoration:none;
    z-index:1;
    position: relative;
  }
  .product-card .product-card-image-container{
    position:relative;
    overflow:hidden;
    z-index:2;
    opacity:1;
    visibility: visible;
    padding-top:3vh;
  }
  .product-card-product-image {
    display: flex;
    width: 100%;
    justify-content:center;
    transition: 0.3s;
    margin: 1px;
    overflow:hidden;
  }
  .product-card .product-card--info{
    position:relative;
    z-index:2;
    opacity:1;
    visibility: visible;
  }
   @media only screen and (min-width: 900px) {
    .product-card:hover .product-card-product-image{
      transform: translateY(-10%);
    }
    .product-card:hover .product-card-size-section{
      visibility: visible;
      opacity: 1;
      z-index:2;
    }


  }
  .product-image-size {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .product-card .product-card-size-section{
    display:flex;
    padding: 5px;
    width:100%;
    flex-flow: row wrap;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    z-index:-1;
    text-align:center;
    justify-content: center;
    align-items:center;
    position:absolute;
    top:60%;
    }


  .product-card-size-buttons{
    background: rgba(0,0,0,0);
    border:none;
    text-align:left;
    padding-left:0;
  }
  .product-card-size-buttons:hover{
    color:#FF0000;
  }
  .product-card-title {
    font-size: 1rem;
    text-align: left;
    text-decoration:none !important;
    color:#121212;
  }
  .product-card-title a {
    text-decoration:none !important;
    color:#121212;
  }

  .product-card--price {
    font-size: .8125em;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
  }


  .product-card__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .product-image-size{
    width:100%;
    overflow:hidden;
  }

  @media only screen and (max-width: 900px) {
    .product-card {
      flex-direction: column;
      max-width: 100%;
    }
    .product-card-size{
      display:none;
    }
    .product-card--info {
      width: 100%;
    }

    .product-card-title{
      font-size: .8125em;
      text-align: left;
    }

    .product-card--price {
      font-size: .8125em;
      margin-bottom: 1rem;
      text-align: left;
    }

    .product-card__description {
      margin-bottom: 1rem;
      text-align: left;
    }
    .size{
      display:none;
    }
  }
</style>

<div class="product-card">
  <div class= "product-card-image-container">
    <div class="product-card-product-image">
      <a href="{{ product.url }}">
        <picture>
          <source media="(max-width: 1000px)" srcset="{{ section.settings.image | image_url: width: 200 }} 1x, {{ section.settings.image | image_url: width: 300 }} 2x">
          <source media="(min-width: 1000px)" srcset="{{ product.featured_image | image_url: width: 760 }} 1x, {{ product.featured_image | image_url: width: 1520 }} 2x">
          <img src="{{ product.featured_image | image_url: width: 760 }}" alt="{{ product.featured_image.alt | escape }}" class="product-card-product-image">
        </picture>
      </a>
  </div>
  </div>
      <div class="product-card-size-section"> 
        {%for size in product.variants%}
          {% if size.available%}
          <product-form class="product-form" data-cart-type="{{ settings.cart_type }}">
            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input  type="hidden" name="id" value="{{ size.id }}" />
              <input class= "product-card-size-buttons" type="submit" value="{{size.option1}}" />
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
            {%- endform -%}
          </product-form>
          {%endif%}
        {%endfor%}
    </div>
  <div class="product-card--info">
    <div class = "product-card-vendor">{{product.vendor}}</div>
    <div class="product-card-title"><a href="{{ product.url }}">{{ product.title }}</a></div>
    {% if product.compare_at_price_max > product.price %}
      <div class="product-card--price">
        <span class="product-card__price--old">{{ product.compare_at_price_max | money }}</span>
        <span class="product-card__price--new">{{ product.price | money }}</span>
      </div>
    {% else %}
      <div class="product-card--price">{{ product.price | money }}</div>
    {% endif %}
  </div>
</div>