<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<style>
    .new-arrival-card-container{
        border-radius: 6px;
        padding:10px;
        min-width:40px;
        width:100%;
        flex-grow: 1;
        display:flex;
        flex-direction:column;
        border-color: rgb(190, 190, 190);
        border-radius: 8px;
        border-style: solid;
        border-width: 2px;
    }

    .new-arrival-card-image{
        padding:5px;
        display:block;
        border-radius: 6px;
        transition: transform .2s;
        
    }

    .new-arrival-card-title{
        padding-left:10px;
        font-size:1.25rem;
        font-weight:700;
        text-size-adjust: auto;
        width:100%;
         
        
        
    }
    .new-arrival-card-title a{
        text-decoration:none !important;
        color: #151515
    } 
    .new-arrival-card-vendor{
        padding-left:10px;
        padding-top:5px;
        font-size:1rem;
        text-transform: capitalize;
    }

    .new-arrival-card-price{
        padding-left:10px;
        font-size:1.5rem;
    }
    .price-section{
        display: flex;
    }
    .pre-discount-price{
        text-decoration:line-through;
        padding-right:2px;
    }
    .discounted-price{
        padding-right:2px;
    }
    .button-section{
        display:none; 
    }

    .new-arrival-card-size-section{
        display:none;
    }

    .new-arrival-card-size-buttons{
    background: rgba(0,0,0,0);
    border:none;
    text-align:left;
    padding-left:0;
    font-size:1.5rem;
  }

  @media only screen and (min-width:740px){
    .new-arrival-card-container:hover .new-arrival-card-title{
        display:none;

    }
    .new-arrival-card-container:hover .new-arrival-card-vendor{
        display:none;

    }
    .new-arrival-card-container:hover .new-arrival-card-price{
        display:none;

    }
    .new-arrival-card-container:hover .new-arrival-card-image{
        transform: scale(1.1);
        transform: translateY(-10px)
    } 
    .new-arrival-card-container:hover .button-section{
        display:flex;
        justify-content:center;
        padding-top:10px; 
    }
    .new-arrival-card-container:hover .new-arrival-card-size-section{
        display:flex;
        width:100%;
        flex-flow: row wrap;
        transition: 1s;
        text-align:center;
        justify-content: center;
        align-items:center;
        top:65%;
        visibility: visible;
        opacity: 1;
        
    }
    .new-arrival-card-size-buttons:hover{
        color:#FF0000;
      }
  }
</style>


<div class = "new-arrival-card-container">
    <a href = "{{card_product.url}}">
        {% assign image = card_product.featured_image %}
        {% assign ratio = 0.75 %}
        {% assign default = 'grande' %}
        {% assign sizes = '(min-width: 1360px) (max-width:100%) 650px, 45vw' %}

        <img  class="new-arrival-card-image"src="{{ image | product_img_url: default }}"
            srcset="
                {{ image | product_img_url: 'pico' }} {% if ratio < 1 %}{{ 16 | times: ratio | round }}{% else %}16{% endif %}w,
                {{ image | product_img_url: 'icon' }} {% if ratio < 1 %}{{ 32 | times: ratio | round }}{% else %}32{% endif %}w,
                {{ image | product_img_url: 'thumb' }} {% if ratio < 1 %}{{ 50 | times: ratio | round }}{% else %}50{% endif %}w,
                {{ image | product_img_url: 'small' }} {% if ratio < 1 %}{{ 100 | times: ratio | round }}{% else %}100{% endif %}w,
                {{ image | product_img_url: 'compact' }} {% if ratio < 1 %}{{ 160 | times: ratio | round }}{% else %}160{% endif %}w,
                {{ image | product_img_url: 'medium' }} {% if ratio < 1 %}{{ 240 | times: ratio | round }}{% else %}240{% endif %}w,
                {{ image | product_img_url: 'large' }} {% if ratio < 1 %}{{ 480 | times: ratio | round }}{% else %}480{% endif %}w,
                {{ image | product_img_url: 'grande' }} {% if ratio < 1 %}{{ 600 | times: ratio | round }}{% else %}600{% endif %}w,
                {{ image | product_img_url: '1024x1024' }} {% if ratio < 1 %}{{ 1024 | times: ratio | round }}{% else %}1024{% endif %}w,
                {{ image | product_img_url: '2048x2048' }} {% if ratio < 1 %}{{ 2048 | times: ratio | round }}{% else %}2048{% endif %}w
            "
            sizes="{{ sizes }}"
            alt="{{ image.alt | escape }}"
            width="100%"
        />
    </a>
    <div class= "new-arrival-card-vendor">
        {{card_product.vendor | downcase}}
    </div>   
    <div id="card-product-title" class= "new-arrival-card-title">
        <a href = "{{card_product.url}}" >
            {{card_product.title}}
        </a>
    </div>
    {% if card_product.compare_at_price_max > card_product.price %}
      <div class="new-arrival-card-price">
        <span class="product-card__price--old">{{ card_product.compare_at_price_max | money }}</span>
        <span class="product-card__price--new">{{ card_product.price | money }}</span>
        <span>save {{ card_product.compare_at_price_max | minus: card_product.price | times: 100.0 | divided_by: card_product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</span>
      </div>
    {% else %}
      <div class="new-arrival-card-price">{{ card_product.price | money }}</div>
    {% endif %}
    <div class="new-arrival-card-size-section"> 
        {%for size in card_product.variants%}
          {% if size.available%}
          <product-form class="product-form" data-cart-type="{{ settings.cart_type }}">
            {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input  type="hidden" name="id" value="{{ size.id }}" />
              <input class= "new-arrival-card-size-buttons" type="submit" value="{{size.option1}}" />
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
            {%- endform -%}
          </product-form>
          {%endif%}
        {%endfor%}
    </div>
    <div class="button-section">
        {%render 'primary-button', button_content:"View Product", button_link:card_product.url %}
    </div>
</div>

<script>
    var fontsize = document.getElementById("card-product-title").style.fontSize;



</script>