{%- style -%}
.sHeading{
    align-self:start;
    font-size:4rem;
    font-weight: 200;
    line-height: 1.15;
    color: #545454;
    padding-left:1.5%;
    padding-bottom:10px;
    padding-top:20px;
}
.subHGrid{
    display:grid;
    border-bottom-style:solid;
}
.subHButton{
    width:100%;
    text-align:left;
    background-color:white;
    border-style:none;
    font-size: 3rem;
    transition: all 0.5s;
}
.subHButton:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right:2px;  
    transition: 0.8s;
    color:white;
}
.subHButton:hover{
    padding-right: 6rem;
    padding-left:2rem;
    background-color:black;
    color:white;
    text-decoration:underline;
}
.subHButton:hover:after {
    opacity: 1;
    right: 15%;
    color:white;
}
.button-grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 32rem;
}

.button-grid> div {
    margin: auto;
    width: 90%;
    height:100%;
    padding:10px
}
.button-grid> a {
    padding:1rem;
    margin:1rem;
    margin: auto;
    display: grid;
    width: 100%;
    height:100%;
}
.centeredButtons{

}
.centeredButtons> button{
    width: 100%;
    height:100%;
    font-size: 2.5rem;
    font-family: monospace;
    transition: all 0.5s;
}
.sizeButtons{
    font-size: 2.5rem;
    font-family: monospace;
    transition: all 0.5s;
    border-style:solid;
    border-width:thin;
    border-color:#545454;
    color:#545454;
    background-color:white;
}

.sizeButtons:hover{
color: #fff;
background-color: #545454 !important;
transition: all 0.5s;
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-2px);
}

.titleGrid{
    grid-column-start:2;
    grid-column-end:4;
    
}
.titleGrid> a{
    width: 100%;
    height:100%;
    font-size: 2.5rem;
    font-family:monospace;
    padding: 14px 25px;
    text-align: center;
    display: grid;
    transition: all 0.3s;
}
.titleGrid> button{
    width: 100%;
    height:100%;
    font-size: 5rem;
    padding: 14px 25px;
    font-family:monospace;
    transition: all 0.3s;
}
  @media screen and (max-width:700px){
.button-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16rem 16rem;
}
.subHButton{
    font-size:2.5rem;
}
}

{%- endstyle-%}    
{%if section.settings.titleText != blank%}
<div class="sHeading">{{ section.settings.titleText}}</div>
{%endif%}
{% for blocks in section.blocks %}
{%if blocks.settings.subHeading != blank%}
    <div class="subHGrid">
<div class="subHButton">{{ blocks.settings.subHeading}}</div>
    </div>
{%endif%}

<div class="button-grid">
    <a href="{{ section.settings.buttonURL1 }}">
    <div class="centeredButtons">
        <button class="sizeButtons">{{blocks.settings.buttonName1}}</button> 
    </div>
    </a>
    <a href="{{ section.settings.buttonURL2 }}">
    <div class="centeredButtons">
        <button class="sizeButtons">{{blocks.settings.buttonName2}}</button>
    </div>
    </a>
    <a href="{{ section.settings.buttonURL3 }}">
    <div class="centeredButtons">
        <button class="sizeButtons">{{blocks.settings.buttonName3}}</button>
    </div>
    </a>
    <a href="{{ section.settings.buttonURL4 }}">
    <div class="centeredButtons">
        <button class="sizeButtons">{{blocks.settings.buttonName4}}</button>
    </div>
    </a>
    </div>
{% endfor %}
{% schema %}

{
    "name": "4 Grid",
    "tag": "section",
    "class": "section",
    "settings": [
        {   
            "type":"text",
            "id":"titleText",
            "label": "Insert Title",
            "default":"Heading Name"
        },
    ],
        "blocks": [
            {
            "type":"text",
            "name":"Subheading",
            "settings":[
        {   
            "type":"text",
            "id":"subHeading",
            "label": "Insert subHeading",
        },
        {
            "type":"text",
            "id":"buttonName1",
            "label":"Button Name 1",
        },
        {
            "type":"url",
            "id":"buttonURL1",
            "label":"Button 1 URL ",
        },
        {
            "type":"text",
            "id":"buttonName2",
            "label":"Button Name 2",
        },
        {
            "type":"url",
            "id":"buttonURL2",
            "label":"Button 2 URL ",
        },
        {
            "type":"text",
            "id":"buttonName3",
            "label":"Button Name 3",
        },
        {
            "type":"url",
            "id":"buttonURL3",
            "label":"Button 3 URL ",
        },
        {
            "type":"text",
            "id":"buttonName4",
            "label":"Button Name 4",
        }
        ]
    }
],
    "presets": [
        {
        "name": "4 Grid" 
        }
    ]
}
{%- endschema -%}