{%- style -%}    
    .double-image-container{
        width: 100%;
        display:flex;
        flex-direction:row;
        justify-content: center;
        align-items: center;
        
    }

    .mobile-tiles{
        display:none;
        width:100%;
        
    }

    .mobile-tile-container{
        display:flex;
        flex-direction: column;
        width:95%;
        border-color: rgb(190, 190, 190);
        border-radius:  8px;
        border-style: solid;
        border-width: 1px;
        margin-bottom:10px;
    }
    .image-container-mobile{
        width:100%;
        align-items:center;
        justify-content:center;
        display:flex;
        flex-direction:column;
        
    }
    .image-mobile{
        width:100%;
        border-radius: 0px 0px 8px 8px;
    }
    .image-desktop{
        width:100%;
        border-radius: 0px 0px 8px 8px;
    }
    .image-title-mobile{
        font-size:3rem;
        font-weight: 200;
        line-height: 1.15;
        color: #000;
        padding-left:1.5vw;;
        margin-bottom:35px;
        height:0.15vw;
        
    }
    .image-title-desktop{
        font-size:4rem;
        font-weight: 200;
        line-height: 1.15;
        color: #545454;
        padding-bottom:10px;
        padding-top:10px;
        padding-left:10px;
    }
    .image-title-desktop a{
        color: #545454;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .image-title-desktop a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #545454;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .image-title-desktop a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }


    .desktop-tiles{
        display:flex;
        width:100%;
        justify-content:center;
        align-items:center;
        width:100%;
    }

    .desktop-tile-container{
        display:flex;
        flex-direction:column;
        width:48%;
        border-color: rgb(190, 190, 190);
        border-radius:8px;
        border-style: solid;
        border-width: 1px;
        margin:0.5vw;
        justify-content:center;
        align-items:center;

    }
    .image-container-desktop{
        width:100%;
    }
    .button-overlay {
        position: relative;
        display: inline-block;
    }
    .button-overlay button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width:750px){
        .mobile-tiles{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            width:100%;
        }
        .desktop-tiles{
            display:none;
        
        }

        
    }
    {%- endstyle -%}

<div class= "double-image-container">
   
    <div class="desktop-tiles">
        <div class="desktop-tile-container">
            {%if section.settings.image-1-title != blank%}
           
            <div class= "image-title-desktop">
            <a  href = "{{section.settings.button_link_one}}">{{ section.settings.image-1-title | escape }}</a>
            </div>
       
            {%endif%}
            <div class=button-overlay>
            <a class = "image-container-desktop" href = "{{section.settings.button_link_one}}">
                <img class="image" src="{{section.settings.image-one| image_url: width: auto, height: auto}}" class = "image-desktop" alt="">
                <button> SHOP NOW </button>
            </a>
        </div>
        </div>
        <div class="desktop-tile-container">
            {%if section.settings.image-2-title != blank %}
            <div class= "image-title-desktop">
            <a href = "{{section.settings.button_link_two}}">{{ section.settings.image-2-title | escape }}</a>
            </div>
            {%endif%}
            <a class = "image-container-desktop" href = "{{section.settings.button_link_two}}">
                <img src = "{{section.settings.image-two| img_url: 'master'}}" alt="" class = "image-desktop">
            </a>
        </div>
    </div>
    <div class=mobile-tiles>
        <div class="mobile-tile-container">
            {%if section.settings.image-1-title != blank%}
            <a href = "{{section.settings.button_link_one}}" class= "image-title-mobile">{{ section.settings.image-1-title | escape }}</a>
            {%endif%}
            <a  class = "image-container-mobile" href = "{{section.settings.button_link_one}}">
                <img src = "{{section.settings.image-one-mobile| img_url: 'master'}}" class = "image-mobile" alt=""/>
            </a>
        </div>
        <div class="mobile-tile-container">
            {%if section.settings.image-2-title != blank%}
            <a class= "image-title-mobile" href = "{{section.settings.button_link_two}}"> {{ section.settings.image-2-title | escape }}</a>
            {%endif%}
            <a class = "image-container-mobile" href = "{{section.settings.button_link_two}}">
                <img src = "{{section.settings.image-two-mobile| img_url: 'master'}}" alt="" class = "image-mobile"/>
            </a>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Double Image Button Overlay",
        "tag": "section",
        "class": "section",
        "settings": [
            {
                "type": "text",
                "id": "image-1-title",
                "default": "Featured collection",
                "label": "Image 1 Title"
            },
            {
                "type": "image_picker",
                "id": "image-one",
                "label": "t:sections.collage.blocks.image.settings.image.label"
            },
            {
                "type": "image_picker",
                "id": "image-one-mobile",
                "label": "Image 1 Mobile"
            },
            {
            "type": "url",
            "id": "button_link_one",
            "label": "Button link"
            },
            {
                "type": "text",
                "id": "image-2-title",
                "default": "Featured collection",
                "label": "Image 2 Title"
            },
            {
                "type": "image_picker",
                "id": "image-two",
                "label": "t:sections.collage.blocks.image.settings.image.label"
                },
            {
                "type": "image_picker",
                "id": "image-two-mobile",
                "label": "Image 2 Mobile"
            },           
            {
            "type": "url",
            "id": "button_link_two",
            "label": "Button link"
            }
        ],
        "presets": [
            {
            "name": "Double Image Button Overlay"
            }
        ]
    }
{% endschema %}