
<style>
.blog-list {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 25vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 7vw;
	counter-reset: blog-list;
  overflow:hidden;
  
}

.blog-list__item {
	cursor: default;
	position: relative;
	padding: 0 2vw;
}

.blog-list__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-fill-color: #545454;
	color: transparent;
	transition: opacity 0.4s;
}

.blog-list__item-link::before {
	all: initial;
	counter-increment: blog-list;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.blog-list__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.blog-list__item-img {
	pointer-events: none;
	position: absolute;
	height: 30rem;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}



.blog-list__item-link:hover + .blog-list__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
	transition: all 0.4s;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: hard-light;
  
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}

.blog-list__item-link:hover ~ .marquee .marquee__inner {
	animation-play-state: running;
	opacity: 1;
	transition-duration: 0.4s;

  
}

.marquee span {
	text-align: center;
}

.blog-list__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 4vw;
	padding: 0 1vw;
	font-weight: 900;
	line-height: 1.15;

}

.marquee span {
	font-style: italic;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@media only screen and (max-width: 550px){
  .blog-list__item-img {
   height:20rem;
   max-height: 300px;
  
  }


}

</style>


<div>
  <div class="blog-list">
    {%- for article in section.settings.blog.articles limit:3-%}
      <div class="blog-list__item">
        <a class="blog-list__item-link">{{article.title}}</a>
        <img class="blog-list__item-img" src="{{ article.image.src | image_url: width: 533}}" alt="Some image"/>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>{{article.title}}</span>
            <span>{{article.title}}</span>
            <span>{{article.title}}</span>
            <span>{{article.title}}</span>
          </div>
        </div>
      </div>
    {%endfor%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
