<style>
.blog-list {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10vh 0 10vh;
	--marquee-width: 100vw;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	--item-font-size: 7vw;
  	overflow:hidden;
  
}

.blog-list__item {
	cursor: default;
	position: relative;
	padding: 0 2vw;
}

.blog-list__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-text-fill-color: #545454;
	color: transparent;
	transition: opacity 0.4s;
}



.blog-list__item-img {
	pointer-events: none;
	position: absolute;
	height: 30rem;
	max-height: 400px;
	opacity: 0;
	left: 100%;
	top: 50%;
	transform: translate3d(calc(-100% - 6vw),-30%,0) translate3d(0,20px,0);
}





/* Make sure 3 items are visible in the viewport by setting suitable font size. */

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--marquee-width);
	overflow: hidden;
	pointer-events: none;
	mix-blend-mode: hard-light;
  
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 5s linear infinite;
	animation-play-state: paused;
	opacity: 0;
	transition: opacity 0.1s;
}



.marquee span {
	text-align: center;
}

.blog-list__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 7vw;
	padding: 1vw 1vw;
	font-weight: 100;
	line-height: 1.15;

}

.marquee span {
	font-style: italic;
}
.featured-blog-title{
  padding-left: 1.5vw;
  padding-bottom: 1.5vw;
  font-size:4vw;
  font-weight: 300;
  line-height: 1.15;
  color: #545454;
  
}
@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@media only screen and (max-width: 550px){
  .blog-list__item-img {
   height:20rem;
   max-height: 300px;
  }
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

@media screen and (max-width: 1024px) {
	.blog-list__item{
		padding: 0 0;
		overflow: hidden;
		height: 10vh;
	}
	.blog-list{
		display: grid;
		padding: 2vh 0;
	}
	.blog-list__item-mobile{
		position: relative;
		width: 100%
	}
	.blog-list__item-mobile p{
		position: absolute;
		display:inline;
		margin-left: 0.5rem;
		font-size: 3.5vw;
		-webkit-text-fill-color: #545454;
		transition: opacity 0.4s;
	}
	.blog-list__item-link{
		display:none;
	}
	.background-img-mobile {
		width: 100%;
		height: auto;
		position: relative;
		opacity: 0.3;
	}
	.blog-list__item-img {
		display:none;
	}
	.marquee{
		display:none;
	}
}

@media screen and (min-width: 1025px) {
	.blog-list__item-mobile{
		display: none;
	}
	.background-img-mobile {
		display: none;
	}
	.blog-list__item-link::before {
		all: initial;
		position: absolute;
		bottom: 60%;
		left: 0;
		pointer-events: none;
	}
	
	.blog-list__item-link:hover {
		transition-duration: 0.1s;
		opacity: 0;
	}

	.blog-list__item-link:hover + .blog-list__item-img {
		opacity: 1;
		transform: translate3d(calc(-100% - 6vw),-30%,0) rotate3d(0,0,1,4deg);
		transition: all 0.4s;
	}

	.blog-list__item-link:hover ~ .marquee .marquee__inner {
		animation-play-state: running;
		opacity: 1;
		transition-duration: 0.4s;
	}

}

</style>


<div>

  <div class="blog-list">
   <div class="featured-blog-title">{{section.settings.heading}}</div>
    {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
      <div class="blog-list__item">

		<a class="blog-list__item-mobile" href={{article.url}}><p>{{article.title}}</p><img class="background-img-mobile" src="{{ article.image.src | image_url: width: 533}}" alt="Some image"/></a>
        <a class="blog-list__item-link" href={{article.url}}>{{article.title}}</a>
        <img class="blog-list__item-img" src="{{ article.image.src | image_url: width: 533}}" alt="Some image"/>
        <div class="marquee">
          <div class="marquee__inner" aria-hidden="true">
            <span>{{article.title}}</span>
            <span>{{article.title}}</span>
            <span>{{article.title}}</span>
            <span>{{article.title}}</span>
          </div>
        </div>
      </div>
    {%endfor%}
	<div class="center">
		{%render 'primary-button', button_content:"View All", button_link:section.settings.blog.url %}
	</div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "range",
      "id": "post_limit",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-blog.settings.post_limit.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-blog.presets.name",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}