{%- style -%}
      .featured-release-container{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .featured-release-image-container{
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:left;
    }
    .featured-release-image-container img{
        width:90%;
    }
    .featured-release-content{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:10px;
    }
    .featured-release-title{
        font-size:2rem;
        text-wrap:
    }
    .featured-release-excerpt{

    }
    .featured-release-body{
        font-size:1.5rem;
    }
     @media only screen and (min-width:739px){
        .featured-release-container{
            flex-direction:row;
        }
        .featured-release-content{
            width:80%;
            text-align: center;
        }
         .featured-release-title{
            font-size: 3rem;
         }
     }
.countdown-grid{
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
}
.countdown-block{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 66%
}
.countdown-groups{
    display: grid;
    grid-template-columns: 23% 2% 23% 2% 23% 2% 23%;
    gap:0.5%;
    background-color:white;
}
.countdown-digits{
    display: grid;
    grid-template-columns: 100%;
}
.countdown-digits > div {
  background-color: black;
  border: 1px ridge #545454;
  border-radius:3px;
  padding: 0.1rem;
  text-align: center;
  font-size:4rem;
  color: white;

}
.countdown-labels{
display: grid;
grid-template-columns: 100%;
  border: 1px ridge #545454;
  border-radius:3px;
  padding: 0.1rem;
  text-align: center;
  font-size:2rem;
  color: #545454;
}
.sep{
  text-align: center;
  font-size:4rem;
  font-style: monospace;

}
.article-img{
  grid-row-start:1;
  grid-row-end:3;
}
.article-content-grid{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:2;
  grid-row-end:3;
}
.article-block{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 90%
}
.countdown-release-title {
  font-size: 3rem;
  text-align: center;
}
.countdown-release-body {
  font-size: 1.5rem;
  text-align: center;
}
.countdown-sep{
  display: grid;
  grid-template-rows: 50% 50%;
}
.cdown-end-text{
  font-size: 4rem;
  text-align: center;
  color: white;
  font-weight:bold;
  text-decoration: underline;
  text-decoration-color:white;
}
.cdown-end-block{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 40%;
  background:black;
  display:none;
}
@media (max-width: 980px) {
.countdown-grid{
  display: grid;
  position: relative;
  grid-template-columns: 100%;
}
.countdown-labels{
  font-size:1.5rem;
}
.article-img{
  grid-row-start:1;
  grid-row-end:2;
}
.countdown-sep{
  grid-row-start:3;
  grid-row-end:4;
  grid-template-rows: 80% 20%;

}
.article-content-grid{
  padding-top: 3rem;
  padding-bottom: 2rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:4;
  grid-row-end:5;
}
.cdown-end-block-block{
  width: 60%;

}
.cdown-end-text{
  font-size: 2.5rem;  
}
}
{%- endstyle-%} 
<div class = "release-blog-list-title">{{section.settings.blog-title}}</div>
<div class= "countdown-grid"> 
  <div class="article-img">
    <div class= "featured-release-container">
        <div class="featured-release-image-container">
            <img src="{{ section.settings.article.image.src | image_url: width: 833 }}">
        </div>
    </div>
  </div>
  <div class="countdown-sep">
<div class="countdown-block">
    <div class= "countdown-groups">
        <div class= "countdown-digits">
            <div id=DLabel></div>
        </div>
        <p class= "sep">:</p>
        <div class= "countdown-digits">
            <div id=HLabel></div>
        </div>
        <p class= "sep">:</p>
        <div class= "countdown-digits">
            <div id=MLabel></div>
        </div>
        <p class= "sep">:</p>
        <div class= "countdown-digits">
            <div id=SLabel></div>
        </div>
    </div>
    <div class="countdown-groups">
        <div class= "countdown-labels">
            <div>DAYS</div>
        </div>
        <div></div>
        <div class= "countdown-labels">
            <div>HOURS</div>
        </div>
        <div></div>
        <div class= "countdown-labels">
            <div>MINS</div>
        </div>
        <div></div>
        <div class= "countdown-labels">
            <div>SECS</div>
        </div>
      </div>
</div>
<div id="endBlock" class="cdown-end-block">
<div id="demo2" class="cdown-end-text"></div>
</div>
</div>
<div class="article-content-grid">
  <div class= "article-block">
        <div class="countdown-release-title">{{section.settings.article.title}}</div>
        <div class="countdown-release-body">{{section.settings.article.content}} </div>
</div>
</div>
</div>
<script>
// Set the date we're counting down to
var countDownDate = new Date("{{section.settings.date_picker}} {{section.setting.time_picker}}").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
  // Adding second integer if time is lss than 10
    if(days < 10){days = "0" + days;}
    if(hours < 10){hours = "0" + hours;}
    if(minutes < 10){minutes = "0" + minutes;}
    if(seconds < 10){seconds = "0" + seconds;}

  // Display the result in the element with id="demo"
  document.getElementById("DLabel").innerHTML = days;
  document.getElementById("HLabel").innerHTML = hours;
  document.getElementById("MLabel").innerHTML = minutes;
  document.getElementById("SLabel").innerHTML = seconds;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("DLabel").innerHTML = "00";
    document.getElementById("HLabel").innerHTML = "00";
    document.getElementById("MLabel").innerHTML = "00";
    document.getElementById("SLabel").innerHTML = "00";
    document.getElementById("demo2").innerHTML = "{{section.settings.cdown-end-text}}";
    document.getElementById("endBlock").style.display = "inline";
  }
}, 1000);
</script>

{% schema %}

{
    "name": "Featured countdown",
    "tag": "section",
    "class": "section",
    "settings": [
        {   
            "type":"text",
            "id":"blog-title",
            "label": "Insert Title",
        },
        {   
          "type":"text",
          "id":"cdown-end-text",
          "label": "Countdown End Text",
          "default":"OUT NOW"
      },
        {
            "type": "text",
            "id": "date_picker",
            "label": "Choose date",
            "default": "03/29/2025",
            "info": "e.g. mm/dd/yyyy"
          },
          {
            "type": "text",
            "id": "time_picker",
            "label": "Choose Time",
            "default": "09:59:59",
            "info": "e.g. hh:mm:ss"
          },
          {
            "type": "article",
            "id": "article",
            "label": "article"
          },
          {
            "type": "url",
            "id": "product_link",
            "label": "Button link"
          },

    ],
    "presets": [
        {
        "name": "Featured countdown" 
        }
    ]
}
{%- endschema -%}