{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- style -%}
.NRMLimageLogo {
  height: auto;
  max-width: 18rem;
}
.copyright-footer{
  padding: 0 3rem;
  font-size:12px;
  color:#252525;
  text-align:right;
}
.footer-socials{
  display: flex;
    list-style: none;
    margin: 0 1rem !important;
    text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 20% auto auto;
  background-color: white;
  border-top-style:ridge;
  border-width:thick;
  position:relative;
  z-index:2;
}

.grid-container > div {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.linkList {
  list-style-type: none;
  padding:0 3rem;
}
.linkListTitle{
  font-Size: 20px;
  text-align: left;
  font-family:monospace;

}
.linkListStyle{
  font-Size: 15px;
  text-align: left;
  font-family:monospace;
}

.logoGrid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end:2;
}
.navGrid{
	grid-row-start:2;
  grid-row-end:5;
}
.navGridA{
  grid-row-start:1;
  grid-row-end:2;
}
.navGridB{
  grid-row-start:3;
  grid-row-end:4;
}
.emailGrid{
	grid-row-start:1;
    grid-row-end:6;
    grid-column-start: 2;
    grid-column-end: 4;
}
.item4{
	  grid-row-start:1;
    grid-row-end:6;
    grid-column-start: 3;
}

.socialsGrid{
grid-column-start:1;
grid-column-end:2;
grid-row-start: 5;
}
.copyrightGrid{
grid-row-start: 6;
grid-column-start:1;
grid-column-end:4;
}
@media screen and (max-width: 660px) {
  .grid-container {
    grid-template-columns:100%;
    background-color: #f2f2f2;
  }
  .logoGrid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:1;
  grid-row-end:2;
}
.navGrid{
	grid-row-start:2;
  grid-row-end:5;
}
.navGridA{
  grid-row-start:1;
  grid-row-end:2;
}
.navGridB{
  grid-row-start:1;
  grid-row-end:2;
  grid-column-start:2;
  grid-column-end:3;
}

.emailGrid{
	grid-row-start:5;
    grid-row-end:6;
    grid-column-start: 1;
}
.socialsGrid{
grid-column-start:1;
grid-row-start: 7;
}
.copyrightGrid{
grid-row-start: 8;
grid-column-start:1;
}
.copyright-footer{
  padding: 0 3rem;
  font-size:12px;
  color:#252525;
  text-align:center;
}
}


{%- endstyle-%}

<div class="grid-container">
  <div class="logoGrid"><img class="NRMLimageLogo" src="{{section.settings.nrmlLogo| image_url: width: auto, height: auto}}"/></div>
  <div class="navGrid"> 
  <div class="navGridA"> 
    <ul class="linkList">
      <li class="linkListTitle"><b>SUPPORT</b></li>
    <li class="linkListStyle"><a href="{{section.settings.FAQlink}}">FAQ</a></li>
    <li class="linkListStyle"><a href="{{section.settings.contactLink}}">CONTACT US</a></li>
    <li class="linkListStyle"><a href="{{section.settings.policyLink}}">PRIVACY POLICY</a></li>
    <li class="linkListStyle"><a href="{{section.settings.shippingLink}}">SHIPPING</a></li>
    <li class="linkListStyle"><a href="{{section.settings.sezLink}}">SEZZLE & KLARNA</a></li>
    {% if section.settings.cardCheck== true %}
      <li class="linkListStyle"><a href="{{section.settings.giftCardLink}}">GIFT CARD GIVEAWAY</a></li>
    {% endif %}
  </ul>
</div>
<div class="navGridB">
  <ul class="linkList">
  <li class="linkListTitle"><b>ABOUT</b></li>
  <li class="linkListStyle"><a href="{{section.settings.DNALink}}">DNA</a></li>
  <li class="linkListStyle"><a href="{{section.settings.radarLink}}">RADAR</a></li>
  <li class="linkListStyle"><a href="{{section.settings.eventsLink}}">EVENTS</a></li>
  </ul>
</div>
</div>
  <div class="emailGrid">
    <iframe src="https://nrml-ca.attn.tv/p/WEG/landing-page" style="min-height: 800px;" width="100%" height="100%"></iframe>
  </div>
  <div class="socialsGrid"><ul class="footer-socials" role="list">
{% if section.settings.gRate== true %}
   <li> <g:ratingbadge merchant_id=118552518></g:ratingbadge> </li>
{% endif %}
    {%- if settings.social_twitter_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
          {%- render 'icon-twitter' -%}
          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_facebook_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
          {%- render 'icon-facebook' -%}
          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_pinterest_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
          {%- render 'icon-pinterest' -%}
          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_instagram_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
          {%- render 'icon-instagram' -%}
          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tiktok_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
          {%- render 'icon-tiktok' -%}
          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_tumblr_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
          {%- render 'icon-tumblr' -%}
          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_snapchat_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
          {%- render 'icon-snapchat' -%}
          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_youtube_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
          {%- render 'icon-youtube' -%}
          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.social_vimeo_link != blank -%}
      <li class="list-social__item">
        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
          {%- render 'icon-vimeo' -%}
          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
        </a>
      </li>
    {%- endif -%}
  </ul></div>
<div class="copyrightGrid"><div class="copyright-footer">2022 © NRML</div></div>
</div>
{% schema %}

{
    "name": "Gridded Footer",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "richtext",
          "id": "genericContent",
          "label": "Insert Text",
        },
        {
          "type": "image_picker",
          "id": "nrmlLogo",
          "label": "Add Logo"
        },
        {
          "type":"checkbox",
          "id":"gRate",
          "label":"Show Google Rating Badge",
          "default": false
        },
        {
          "type": "url",
          "id": "FAQlink",
          "label": "FAQ link"
        },
        {
          "type": "url",
          "id": "contactLink",
          "label": "Contact Link"
        },
        {
          "type": "url",
          "id": "termsLink",
          "label": "Terms link"
        },    
        {
          "type": "url",
          "id": "shippingLink",
          "label": "Shipping link"
        }, 
        {
          "type": "url",
          "id": "sezLink",
          "label": "Sezzle link"
        },
        {
          "type":"checkbox",
          "id":"cardCheck",
          "label":"Show Gift Card Giveaway Policy",
          "default": true
        },  
      {
          "type": "url",
          "id": "giftCardLink",
          "label": "Gift Card Policy link"
        },
          {"type": "url",
          "id": "policyLink",
          "label": "Privacy Policy link"
        },
        {"type": "url",
          "id": "DNALink",
          "label": "DNA Link"
        },
        {"type": "url",
          "id": "radarLink",
          "label": "Radar link"
        },
        {"type": "url",
          "id": "eventsLink",
          "label": "Events link"
        },


    ],
    "presets": [
        {
        "name": "Gridded Footer" 
        }
    ]
}
{%- endschema -%}