{% style %}
    .menu-panel-container{
        width:100%;
        padding-top:10px;
        padding-bottom:10px;
        z-index: 1;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    @media screen and (max-width: 990px) {
        .menu-panel-container{
        display: none;
        }
    }
    .menu-panel{
        height: auto;
        display: grid;
        grid-auto-flow:column;
        gap:7rem;
        justify-content:center;
        align-items: center;
        z-index: 1;
        width:97%;
        border-color: rgb(190, 190, 190);
        border-radius:  8px;
        border-style: solid;
        border-width: 1px;
        padding:10px;
        padding-left:15px;
        padding-right:15px;
    }
    .top-level-container{
        display:block;
    }
    .top-level-link-container a{
        color: #545454;
        font-size:1.5rem;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .top-level-link-container a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #545454;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .top-level-link-container a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .mega-menu-container{
        display:none;
        grid-area:auto;
        justify-content:center;
        width:97vw;
        height:500px;
        background-color:#fff;
        position:absolute;
        left:1.5%;
        margin-top:5px;
        padding-top:45px;
        border-color: rgb(190, 190, 190);
        border-radius: 0px  0px 8px 8px;
        border-style: solid;
        border-width: 1px;
        border-top:#fff;
    }
    .top-level-link-container:hover + .mega-menu-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        justify-content:center;
    }
    .child-link-with-child-container{
        display:flex;
        flex-direction:column;
        background-colour:#000;
        align-items: center;
        border-color: #000;
        border-style: solid;
        border-width: 1px;
    }
    .child-link-without-child{
        justify-self: center;
    }
    
{% endstyle %}

<div class="menu-panel-container">
    <div class= "menu-panel">
        {% for link in section.settings.menu.links %}
        <div>
            <div class="top-level-link-container">
                <a class= "top-level-link" href="{{ link.url }}">{{ link.title }}</a>
            </div>    
            {% if link.links.size > 0 %}
            <div class="mega-menu-container">
                {% for child_link in link.links %}                              
                        {% if child_link.links.size > 0 %}
                            <div class="child-link-with-child-container">
                                <a class= "child-link-with-child" href="{{ child_link.url }}">{{ child_link.title }}</a>
                                {% for grandchild_link in child_link.links %}
                                        <a class= "grandchild-link" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                {% endfor %}
                            </div>
                        {%else%}
                                <a class= "child-link-without-child" href="{{ child_link.url }}">{{ child_link.title }}</a>
                        {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Menu Panel",
    "tag": "section",
    "class": "section-menu-panel",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        }
    ],
    "presets": [
      {
        "name": "menu-panel",
        "category": "Custom"
      }
    ]
}

{%endschema%}