<style>
    .menu-panel-container{
        width:100%;
        padding: 10px;
        z-index: 177777;
    }
    @media screen and (max-width: 990px) {
        .menu-panel-container{
        display: none;
        }
    }
    .menu-panel{
        background-color:#D9D9D9;
        border-radius:50px;
        height: auto;
        display: flex;
        flex-direction: horizontal;
        justify-content: center;
        align-items: center;
        z-index: 100;
        width:100%;
        padding:10px;
    }

    .nested-dropdowns {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding:0px;
    width:100%;
    height:auto;
    background-color:#D9D9D9;
    border-radius:50px;    
}

.nested-dropdowns li {
    cursor: pointer;
    z-index:5;
    /* Spacing */
    padding: 1rem;

    /* Used to position the sub nested-dropdowns */
    position: relative;
}

/* The sub nested-dropdowns */
.nested-dropdowns ul {


    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;

    width:750px;
    background-color:#D9D9D9;
}

/* The second level sub nested-dropdowns */
.nested-dropdowns ul ul {
    left: 100%;
    position: absolute;
    top: 0;
    width:100%;
    background-color:#D9D9D9;

}

/* Change background color of list item when being hovered */
.nested-dropdowns li:hover {
    text-decoration:underline;
    border-radius: 50px;
}

/* Show the direct sub nested-dropdowns when hovering the list item */
.nested-dropdowns li:hover > ul {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
}
.child-link{
    background-color: #D9D9D9;
    padding: 10px;
    border-radius:50px;
}
.grandchild-link{
    background-color: #D9D9D9;
    padding: 10px;
    border-radius:50px;
}
.menu-buttons{
    color:#000;
    text-decoration:none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

</style>

<div class="menu-panel-container">
    <div class= "menu-panel">
        <ul class="nested-dropdowns">
        {% for link in section.settings.menu.links %}
            <li>
                <a class= "menu-buttons " href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                    <ul>
                        {% for child_link in link.links %}
                            <li>
                                <div class="nested-dropdowns__item">
                                    <a class= "menu-buttons child-link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                                </div>
                                {% if child_link.links.size > 0 %}
                                    <ul >
                                    {% for grandchild_link in child_link.links %}
                                        <li>
                                                <a class= "menu-buttons grandchild-link" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% schema %}
{
    "name": "Menu Panel",
    "tag": "section",
    "class": "section-menu-panel",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        }
    ],
    "presets": [
      {
        "name": "menu-panel",
        "category": "Custom"
      }
    ]
}

{%endschema%}