<style>
    .menu-panel-container{
        width:100%;
        padding: 10px;
        z-index: 1;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    @media screen and (max-width: 990px) {
        .menu-panel-container{
        display: none;
        }
    }
    .menu-panel{
        height: auto;
        display: flex;
        flex-direction: horizontal;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width:95%;
        border-color: rgb(190, 190, 190);
        border-radius:  8px;
        border-style: solid;
        border-width: 1px;
    }

    .nested-dropdowns {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly;
    align-items: center;
    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding:0px;
    width:100%;
    height:auto;
    border-radius:50px;    
}

.nested-dropdowns li {
    cursor: pointer;
    z-index:5;
    /* Spacing */
    padding: 1rem;

    /* Used to position the sub nested-dropdowns */
    position: relative;
}

/* The sub nested-dropdowns */
.nested-dropdowns ul {


    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:1500px;
    background-color:#fff;
    border-color: rgb(190, 190, 190);
    border-top-color:#fff;
    border-radius: 0px 0px 8px 8px;
    border-style: solid;
    border-width: 1px;
   
}

/* The second level sub nested-dropdowns */
.nested-dropdowns ul ul {
    left: 100%;
    position: absolute;
    top: 0;
    width:100%;
    

}

/* Change background color of list item when being hovered */
.nested-dropdowns li:hover {
    text-decoration:underline;
    border-radius: 50px;
}

/* Show the direct sub nested-dropdowns when hovering the list item */
.nested-dropdowns li:hover > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 470px;
    animation: clippath 0.2s ease-in-out;
    
}
.child-link{
    
    padding: 10px;
    
}
.grandchild-link{
    
    padding: 10px;
    
}
.menu-buttons{
    color:#000;
    text-decoration:none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    
}
.menu-buttons:hover{
     text-decoration:underline;
}

@keyframes clippath {
    0%{
         clip-path: inset(100% 100% 0% 0%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
    75% {
        clip-path: inset(0% 25% 15% 0%);
    }
    50% {
        clip-path: inset( 0% 50% 30% 0%);
    }
    25% {
        clip-path: inset(0% 75% 60% 0%);
    }
}

</style>

<div class="menu-panel-container">
    <div class= "menu-panel">
        <ul class="nested-dropdowns">
        {% for link in section.settings.menu.links %}
            <li>
                <a class= "menu-buttons " href="{{ link.url }}">{{ link.title }}</a>
                {% if link.links.size > 0 %}
                    <ul>
                        {% for child_link in link.links %}
                            <li>
                                <div class="nested-dropdowns__item">
                                    <a class= "menu-buttons child-link" href="{{ child_link.url }}">{{ child_link.title }}</a>
                                </div>
                                {% if child_link.links.size > 0 %}
                                    <ul >
                                    {% for grandchild_link in child_link.links %}
                                        <li>
                                                <a class= "menu-buttons grandchild-link" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% schema %}
{
    "name": "Menu Panel",
    "tag": "section",
    "class": "section-menu-panel",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "t:sections.header.settings.menu.label"
        }
    ],
    "presets": [
      {
        "name": "menu-panel",
        "category": "Custom"
      }
    ]
}

{%endschema%}