{%- style -%}
.grid-wrap{
    padding: 5px 10px 5px 12rem;
}
.prime-grid{
  display: grid;
  position: relative;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-template-rows:80% 20%;
}

.prime-grid> div {
    position:relative;
    margin: auto;
    width: 100%;
    height: 100%;
}
.primeDiv{
    width: 100%;
    height: 100%;
    padding: 2px 10px 2px 2rem;
}
.prime-grid> a {
    margin: auto;
    display: grid;
    width: 100%;
    height:100%;
}
.sizedButtons{
    width: 21rem;
    height: 23rem;
    font-size: 8rem;
    background-color: black;
    border-color:white;
    border-style: solid;
    border-width:3px;
    color: white;
    font-style:monospace;
}
.shopAllGrid1{
    grid-column-start:3;
    grid-column-end:5;
    
}
.shopAllGrid1> button{
    width: 100%;
    height:100%;
    font-size: 5rem;
    padding: 14px 25px;
    font-family:monospace;
    transition: all 0.3s;
}
.shopAllButton1{
    width: 100%;
    height:100%;
    background-color:white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.shopAllButton1:after {
    content: '»';
    position: absolute;
    opacity: 0;
    right:2px;  
    transition: 0.8s;
    color:white;
}
.shopAllButton1:hover{
    padding-right: 6rem;
    padding-left:2rem;
    background-color:black;
    color:white;
    text-decoration:underline;
}
.shopAllButton1:hover:after {
    opacity: 1;
    right: 15%;
    color:white;
}
@media (max-width: 1500px) {
    .grid-wrap{
    padding: 0px 10px 5px 8rem;
    }
    .sizedButtons {
    width: 17rem;
    height: 21rem;
    font-size: 6rem;
    }
}
@media (max-width: 1200px) {
    .grid-wrap{
    padding: 0px 10px 5px 4rem;
}
.sizedButtons{
    width: 13rem;
    height: 17rem;
    font-size: 5rem
}
}
@media (max-width: 850px) {
    .grid-wrap{
    padding: 0px 5px 5px 0px
}
.sizedButtons{
    width: 11rem;
    height: 15rem;
    font-size: 2rem;


}
}
@media (max-width: 650px) {
    .grid-wrap{
    padding: 8% 5px 5px 4%
}
.sizedButtons{
    width: 14rem;
    height: 18rem;
    font-size: 350%
}
.prime-grid{
  display: grid;
  position: relative;
  grid-template-columns: 48% 48%;
  grid-template-rows: 15rem 15rem auto;
}
}
{%- endstyle-%}   
{%- if section.settings.titleText != blank -%}
<h1 style="text-align: center; padding=2rem;">{{section.settings.titleText}}</h1>
<hr style="border-top: 4px solid black;">
{%- endif -%}
<div class= "grid-wrap">
    <div class="prime-grid">
        <a href="{{ section.settings.buttonURL1 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> S {{section.settings.buttonName1}}</button> 
        </div>
        </a>
        <a href="{{ section.settings.buttonURL2 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> M {{section.settings.buttonName2}}</button>
        </div>
        </a>
        <a href="{{ section.settings.buttonURL3 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> L {{section.settings.buttonName3}}</button>
        </div>
        </a>
        <a href="{{ section.settings.buttonURL4 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> XL {{section.settings.buttonName4}}</button>
        </div>
        </a>
        <a href="{{ section.settings.buttonURL5 }}">
        <div class="primeDiv">
            <button class="sizedButtons">XXL {{section.settings.buttonName5}}</button>
        </div>
    </a>
    <a href="{{ section.settings.buttonURL5 }}">
        <div class="primeDiv">
            <button class="sizedButtons">SIZE {{section.settings.buttonName5}}</button>
        </div>
    </a>
    {%if section.settings.bottomButtonText != blank%}
    <div class="shopAllGrid1">
        <a style= "shopAllButton1" href="{{ section.settings.bottomButtonURL}}">
            <button class="shopAllButton1">{{section.settings.bottomButtonText}}</button>
        </a>
    </div>
{%endif%}
</div>
</div>
{% schema %}

{
    "name": "Size table 2",
    "tag": "section",
    "class": "section",
    "settings": [
        {   
            "type":"text",
            "id":"titleText",
            "label": "Insert Title",
        },
        {
            "type": "text",
            "id": "bottomButtonText",
            "label": "Bottom Button Text",
          },
        {
            "type":"url",
            "id":"bottomButtonURL",
            "label":"Bottom Button URL",
        },
 
    ],
    "presets": [
        {
        "name": "Size Table 2" 
        }
    ]
}
{%- endschema -%}