{%- style -%}
.grid-wrap{
    padding: 5px 10px 5px 8rem;
}
.prime-grid{
  display: grid;
  position: relative;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
}

.prime-grid> div {
    position:relative;
    margin: auto;
    width: 100%;
    height: 100%;
}
.primeDiv{
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 2rem;
}
.prime-grid> a {
    margin: auto;
    display: grid;
    width: 100%;
    height:100%;
}
.sizedButtons{
    width: 17rem;
    height: 21rem;
    font-size: 8rem
}
{%- endstyle-%}    
<div class= "grid-wrap">
    <div class="prime-grid">
        <a href="{{ section.settings.buttonURL1 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> S {{section.settings.buttonName1}}</button> 
        </div>
        </a>
        <a href="{{ section.settings.buttonURL2 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> M {{section.settings.buttonName2}}</button>
        </div>
        </a>
        <a href="{{ section.settings.buttonURL3 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> L {{section.settings.buttonName3}}</button>
        </div>
        </a>
        <a href="{{ section.settings.buttonURL4 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> XL {{section.settings.buttonName4}}</button>
        </div>
        </a>
        <a href="{{ section.settings.buttonURL5 }}">
        <div class="primeDiv">
            <button class="sizedButtons"> XXL {{section.settings.buttonName5}}</button>
        </div>
    </a>
    <a href="{{ section.settings.buttonURL5 }}">
        <div class="primeDiv">
            <button class="sizedButtons">SIZE {{section.settings.buttonName5}}</button>
        </div>
    </a>
</div>
</div>
{% schema %}

{
    "name": "Size table 2",
    "tag": "section",
    "class": "section",
    "settings": [
        {   
            "type":"text",
            "id":"titleText",
            "label": "Insert Title",
        },
 
    ],
    "presets": [
        {
        "name": "Size Table 2" 
        }
    ]
}
{%- endschema -%}