{%- style -%}
.master-grid{
    padding: 50px;
    border-style:solid;
}
.subButton-grid{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap:1rem;
  
}

.subButton-grid> div {
    margin: auto;
    width: 80%;
    height:100%;
    padding:10px
}
.subButton-grid> a {
    margin: auto;
    display: grid;
}
.centerButtons{

}
.centerButtons> button{
    width: 100%;
    height: width;
    font-size: 2.5rem;
    font-family: monospace;
    transition: all 0.5s;
}

.subButtons{
    width: 50%;
    height: 50%;
}

{%- endstyle-%}    
<h1 style="text-align: center; padding=2rem;">{{section.settings.titleText}}</h1>
<div class="master-grid">
<div class="subButton-grid">
    <a href="{{ section.settings.buttonURL1 }}">
    <div class="centerButtons">
        <button class="subButtons">SIzE {{section.settings.buttonName1}}</button> 
    </div>
    </a>
    <a href="{{ section.settings.buttonURL2 }}">
    <div class="centerButtons">
        <button class="subButtons">SIZE {{section.settings.buttonName2}}</button>
    </div>
    </a>
    <a href="{{ section.settings.buttonURL3 }}">
    <div class="centerButtons">
        <button class="subButtons">SIZE {{section.settings.buttonName3}}</button>
    </div>
    </a>
    <a href="{{ section.settings.buttonURL4 }}">
    <div class="centerButtons">
        <button class="subButtons">SIZE {{section.settings.buttonName4}}</button>
    </div>
    </a>
{%if section.settings.bottomButtonText != blank%}
    <div class="shopAllGrid">
        <a style= "shopAllButton" href="{{ section.settings.bottomButtonURL}}">
            <button class="shopAllButton">{{section.settings.bottomButtonText}}</button>
        </a>
    </div>
{%endif%}

    </div>
</div>
{% schema %}

{
    "name": "Size Table 2",
    "tag": "section",
    "class": "section",
    "settings": [
        {   
            "type":"text",
            "id":"titleText",
            "label": "Insert Title",
        },
        {
            "type":"text",
            "id":"buttonName1",
            "label":"Button Name 1",
        },
        {
            "type":"url",
            "id":"buttonURL1",
            "label":"Button 1 URL ",
        },
        {
            "type":"text",
            "id":"buttonName2",
            "label":"Button Name 2",
        },
        {
            "type":"url",
            "id":"buttonURL2",
            "label":"Button 2 URL ",
        },
        {
            "type":"text",
            "id":"buttonName3",
            "label":"Button Name 3",
        },
        {
            "type":"url",
            "id":"buttonURL3",
            "label":"Button 3 URL ",
        },
        {
            "type":"text",
            "id":"buttonName4",
            "label":"Button Name 4",
        },
        {
            "type":"url",
            "id":"buttonURL4",
            "label":"Button 4 URL ",
        }
 
    ],
    "presets": [
        {
        "name": "Size Table 2" 
        }
    ]
}
{%- endschema -%}